/*由外而內寫CSS*/
/* ------------------------------------------ */
/* 基本設定 */
/* ------------------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*怪異盒模型*/
    text-decoration: none; /*去除a的底線*/
}

html,
body
{
    background-color: #fff;
    color: #555;
    font-family: 'Roboto','微軟正黑體','arial';
    font-weight: 300;  /*字體的粗細*/
    font-size:20px;
    text-rendering: optimizeLegibility; /*繪制文本時易讀性優先，會啟用字距調整 和 連字*/
    overflow-x: hidden;  /*x捲軸的顯示*/


}
ul
{
    list-style: none;
}
h1
{
    margin: 0;
}

.clearfix
{
    zoom: 1;
}
.clearfix:after
{
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ------------------------------------------ */
/* 可重覆使用組件 */
/* ------------------------------------------ */
.row
{
    max-width: 1140px;
    margin: 0 auto ;
}

section
{
    padding: 80px 0;
}
.box
{
    padding: 1%;
}
h1,h2,h3
{
    font-weight: 300; /*字體的粗細*/
    text-transform: uppercase;/*所有字強制變為大寫*/

}
h1
{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;  /*因html font-size:20px; 　所以這裡為20px *2.4 */
    word-spacing: 4px;  /*規定段落中的字間距是 1 像素,簡單的就是說 設定每個"英文單字"的間距*/
    letter-spacing: 1px;  /*設置元素的字母間距*/
}
h2
{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}
h3
{
    font-size: 110%;
    margin-bottom: 15px;
}
h2:after{
    content: ""; /*用after一定要先加content: ""; 也可在裡面打字 例如:content: "你好";*/
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/* -------- PARAGRAPHS ------- */
.long-copy
{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p
{
    font-size: 90%;
    line-height: 145%;
}
/* -------- ICONS ------- */
.icon-big
{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small
{
    display: inline-block;
    width: 36px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*文字與icon垂直置中小技巧*/
    line-height: 120%;
    vertical-align: middle;    /*vertical-align 垂直對齊*/
    margin-top: -5px;
}
/* --------- LINKS ----------- */

a:link,
a:visited
{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s,color 0.2s;
    transition: border-bottom 0.2s,color 0.2s;/*transition  針對寫的屬性進行動畫操作 (在這裡就是border-bottom 與color 轉場秒數)*/

}
a:hover,
a:active
{
    color: #555;
    border-bottom: 1px solid transparent;   /*transparent 透明*/


}

/* -------- BUTTONS ---------- */
.btn:link,
.btn:visited,
input[type=submit]
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    /*text-decoration: none; *//*去除a的底線*/
    border-radius: 200px;   /*圓角*/
    -webkit-transition: background-color 0.2s,border 0.2s ,color 1.2s;
    transition: background-color 0.2s,border 0.2s ,color 1.2s;    /*當hover 變換的秒數*/
}

.btn-full:link,
.btn-full:visited,
input[type=submit]
{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color:#fff;   /*文字顏色*/
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited
{
    border: 1px solid #e67e22;
    color:#ffffff;   /*文字顏色*/
    margin-right: 15px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active

{
    background-color: #cf6d17;

}
.btn-full:hover,
.btn-full:active,
input[type=submit]
{
    border: 1px solid #cf6d17;

}
.btn-ghost:hover,
.btn-ghost:active.
input[type=submit]
{
    border: 1px solid #cf6d17;
    color:#fff;   /*文字顏色*/
}



/* ------------------------------------------ */
/* header */
/* ------------------------------------------ */
header
{
    /*background-image:-webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/headerBg.png");*/
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../images/headerBg.png");
    /*background-image:url("../images/headerBg.png");*/
    background-size: cover;/*cover 使背景圖放大至內容的大小，但此方法容易使背景圖因放大而失真*/
    background-position: center;
    height: 100vh;/*全螢幕 1vh 單位代表 1% Viewport 的高度,viewport 代表的是「目前裝置（視窗）的寬高」，也可以說是可視區域範圍的意思。*/
    background-attachment: fixed; /*設置背景圖像是否固定或者隨著頁面的其餘部分滾動*/

}
header nav
{
   background-color:rgba(112,112,112,0.6);

}
header .header-text-box
{
    position: absolute;
    width: 1140px;
    /*置中的寫法*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);  /*translate(ox,oy):指定元素由參考點 2D 橫向移動 ox 距離、縱向移動 oy 距離*/
    /*置中的寫法 End*/
}



.logo
{
    height: 80px;
    width: auto;
    float: left;
    /*margin-top: 20px;*/
    margin: 16px 0;
}
.logo-black{
    display: none ;/* 先隱藏黑色logo */
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* Main Nav */
.main-nav
{
    float: right;
    list-style :none;
    margin-top: 40px;
}
.main-nav li
{
    display:inline-block ;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited
{
    padding: 8px 0;
    color: #fff;
    /*text-transform: uppercase;*//*所有字強制變為大寫*/
    font-size: 90%; /*18/20*/
    border-bottom: 2px solid transparent; /*transparent 透明*/
    -webkit-transition:border-bottom 0.2s;
    transition:border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active
{
   border-bottom: 2px solid #e67e22;
}


/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* Stick Nav */

.sticky
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 100;
}
.sticky .main-nav
{
    margin-top: 18px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited
{
    padding: 16px 0;
    color: #555;
}

.sticky .logo{display: none}
.sticky .logo-black{
    display: block
}


/* ------------------------------------------ */
/* FEATURES */
/* ------------------------------------------ */

.section-feature .long-copy
{
    margin-bottom: 30px;
}


/* ------------------------------------------ */
/* MEALS */
/* ------------------------------------------ */

.section-meals
{
    padding: 0;
}
.meals-showcase
{
    list-style: none;
    width: 100%;
}
.meals-showcase li
{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo
{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img
{
    opacity: 0.7; /*透明度*/
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);  /*scale放大比例*/
    -webkit-transition: -webkit-transform 0.5s ,opacity 0.5s;
    transition: transform 0.5s ,opacity 0.5s;  /*動畫效果*/

}
.meal-photo img:hover
{
    opacity: 1; /*透明度*/
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);

}


/* ------------------------------------------ */
/* How it works */
/* ------------------------------------------ */

.section-steps
{
    background-color: #f4f4f4;
}
/*first-child:steps-box的第一個元素*/
.steps-box:first-child
{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
/*last-child:steps-box的最後一個元素*/
.steps-box:last-child
{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen
{
    width:40% ;
}

.works-step
{
    margin-bottom: 50px;
}
.works-step:last-of-type /*last-of-type:works-step的最後一個元素*/
{
    margin-bottom: 80px;
}


.works-step div
{
    color: #e67e22;
    border: 2px solid #e67e22;
    /*display: inline-block;*/
    border-radius: 50%;   /*border-radius 圓角效果*/
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited
{
    border: 0;

}

.btn-app img
{
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/* ------------------------------------------ */
/* CITIES */
/* ------------------------------------------ */

.box img
{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature
{
    margin-bottom: 5px;
}


/* ------------------------------------------ */
/* TESTIMONIALS */
/* ------------------------------------------ */

.section-testimonials
{
    background:-webkit-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/back-customers.jpg");
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../images/back-customers.jpg");
    background-size: cover;
    color: #fff;
    background-attachment: fixed; /*屬性設置背景圖像是否固定或者隨著頁面的其餘部分滾動*/

}
blockquote
{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px; ;
}
blockquote:before
{
    content: "\201C";   /*符號可參考https://css-tricks.com/snippets/html/glyphs/*/
    font-size: 500%;
    display: block;
    position: absolute; /*relative對應於blockquote標籤*/
    top: -5px;
    left: -3px;
}
cite
{
    font-size: 90%;
    margin-top: 25px;
    display: block;

}

cite img
{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; /*垂直對齊(置中)"圖像"*/
}
/* ------------------------------------------ */
/* PLANS */
/* ------------------------------------------ */
.section-plans
{
    background-color: #f4f4f4;
}
.plan-box
{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow:0 2px 2px  #e3e3e3;

}

.plan-box div
{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child
{
    background-color: #fcfcfc;
    /*圓角*/
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;

}
.plan-box div:last-child
{
    text-align: center; /*text-align: center; 對inline, inline-block都有效*/
    border: 0;

}

.plan-price
{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span
{
    font-size: 30%;/*.plan-price的大小的30% (因為繼承plan-price的大小)*/
    margin-bottom: 10px;
    font-weight: 300;
}

.plan-price-meal
{
    font-size: 80%;
}

.plan-box ul li
{
    padding: 5px 0;
}

/* ------------------------------------------ */
/* FORM */
/* ------------------------------------------ */
.contact-form
{
    width: 60%;
    margin: 0 auto;
}

input[type=text],/*[]:選擇原素中的attr*/
input[type=email],
select,
textarea
{
    width: 100%;
    padding:7px ;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea
{
    height: 100%;
}

input[type=checkbox]
{
    margin: 10px 5px 10px 0;
}

*:focus
{
    outline: none;     /*取消邊框*/

}

.map-box
{
    width: 100%;
    height: 560px;
    position: relative;
}


.map
{
    width: 100%;
    height: 560px;
    position: relative;
    z-index: 0;
}

.form-box
{
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 10;
    height: 560px;
    padding-top: 40px;
}


/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

footer
{
    background-color: #333;
    padding-top: 10px;
    font-size: 85%;

}


.footer-nav
{
    list-style: none;
    float: left;
    margin-top: 50px;
}

.social-links
{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li
{
    display: inline-block;
    margin-right: 20px;
}
/*因為最後一個的多了maring-right 所以將他拿掉*/
.footer-nav li:last-child,
.social-links li:last-child
{
    margin-right:0 ;
}

.footer-nav li a:link,
.footer-nav li a:last-child,
.social-links li a:link,
.social-links li a:visited
{
    border: 0;
    color: #888;
}
.footer-nav li a:hover,
.footer-nav li a:active
{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited
{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}
.ion-social-twitter:hover {
    color: #00aced;
}
.ion-social-googleplus:hover {
    color: #dd4b39;
}
.ion-social-instagram:hover {
    color: #517fa4;
}

footer p
{
    color: #ddd;
    text-align: center;
    /*margin-top: 20px;*/
}
.fb-page
{
    width: 300px;
}

.footer-fb
{
    float: right;
}

/* ------------------------------------------ */
/* Animation */
/* ------------------------------------------ */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-5
{
    opacity: 0;
    animation-duration: 1s;   /*動畫時間*/

}
.js--header-title
{
    opacity: 0;
    animation-duration: 2s;   /*動畫時間*/
}

.js--wp-4
{
    animation-duration: 1s;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated,
.js--wp-5 .animated,
.js--header-title .animated
{
    opacity: 1;
}

